.widgetItem{
    min-height: 80px;
    border-bottom:1px solid var(--primary-background);
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}

.widgetItem img{
    height: 80px;
    width:100%;
    object-fit: cover;  
}

.widgetItem__picture{
    border-radius: 20px;
    width: 30%;

}

.widgetItem__text{
    width: 70%;
    margin-right: 10px;
}

.widgetItem__textHeader>p{
    color: var(--primary-color);
    font-size: 11px;
}

.widgetItem__textBody>h4{
    font-size: 13px;
}