body {
  margin: 0;
  font-family:'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family:source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  --primary-color:#009688;
  --primary-background:#e6ecf0;
  --primary-dark:#455A64;
}


*,*::after,*::before{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}